.Brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Brand > .logo {
  margin-top: 11rem;
  width: 50vw;
}

.Brand > .brand-name {
  margin-top: 10rem;
  font-size: 2rem;
  font-family: 'Titillium Web', sans-serif;
  color: darkgray;
  font-weight: bolder;
}
