.Home > .content {
  background-color: brown;
  background-image: url('/images/chizu-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10rem 1rem 0;
  height: -webkit-fill-available;
}

.Home > .content > .info > h1,
.Home > .content > .info > h2,
.Home > .content > .info > p{
  color: white;
  text-align: start;
  font-family: 'Titillium Web', sans-serif;
}

.Home > .content > .info > h1,
.Home > .content > .info > h2 {
  font-weight: bolder;
}

.Home > .content > .info > h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.Home > .content > .info > h2 {
  font-size: 2rem
}

.Home > .content > .info > p {
  font-size: 1.2rem;
  margin-bottom: 6rem;
}

.Home > .content > div {
  width: -webkit-fill-available;
}

.Home > .content .start-button {
  font-size: 1.5rem;
  border: 2px solid white;
  color: white;
  border-radius: 2.5rem;
}

.Home > .content > .login {
  width: -webkit-fill-available;
  margin-top: 1rem;
  font-size: 1rem;
  color: white;
}

.Home > .content > .login > a {
  color: darkorange;
}
