.Map {
  
}

.Map .mapbox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  padding-top: 3rem
}

.Map .mapboxgl-ctrl-top-right {
  margin-top: 3.5rem;
}

.Map .mapboxgl-ctrl-top-right button {
  height: 2rem;
  width: 2rem;
}

.Map .mapboxgl-ctrl span {
  background-size: cover;
}

.Map .marker {
  background-image: url('/images/marker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.Map .info {
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background-color: #a91b1b;
  margin: .5rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.75);
}

.Map .info .info-street {
  font-size: 1.3rem;
  color: white;
}

.Map .info .info-city {
  font-size: 1rem;
  color: white;
}

.Map .info .accept {
  width: -webkit-fill-available;
  display: flex;
  justify-content: flex-end;
}

.Map .info .accept-button {
  width: -webkit-fill-available;
  border: 0;
  border-radius: 30px;
  padding: .5rem 1rem;
  font-size: x-large; 
  font-weight: bolder;
  margin: .5rem 3rem 0;
}