.Map {
  
}

.Map > .mapbox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  padding-top: 3rem
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  }

.mapboxgl-ctrl-top-right {
  margin-top: 3rem;
}

.mapboxgl-ctrl-top-right button {
  height: 2rem;
  width: 2rem;
}

.mapboxgl-ctrl span {
  background-size: cover;
}

.marker {
  background-image: url('/images/marker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.info {
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: 100vw;
  z-index: 9;
  background-color: maroon;
}
